<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head th:replace="~{fragments/header :: header (pageTitle = 'Exercise For Review')}"></head>

<body id="page-top">
<div id="wrapper">
    <nav th:replace="~{fragments/navbar :: sideNavbar}"></nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav th:replace="~{fragments/navbar :: topNavbar (username = ${username})}"></nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Team</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">New Exercises</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                        <label class="form-label" for="page_size">Show </label>
                                        <select class="d-inline-block form-select form-select-sm" id="page_size" onchange="redirectExercisesWithPageSize()">
                                            <option th:each="size : ${pageSizes}"
                                                    th:value="${size}"
                                                    th:text="${size}"
                                                    th:selected="${size} == ${pageSize}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                                </div>
                            </div>
                            <div class="table-responsive mt-2 table" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable1">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Complexity</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody th:each="forReview : ${exercisesForReview}">
                                        <tr>
                                            <td th:text="*{forReview.name}">Bench Press</td>
                                            <td th:text="*{forReview.description}">Lie flat on a bench and press</td>
                                            <td th:text="${#strings.capitalize(#strings.toLowerCase(forReview.complexity.name))}">Easy</td>
                                            <td>
                                                <form th:action="@{/exercises/approve/{id}(id=${forReview.id})}" th:method="@{PATCH}">
                                                    <button class="btn btn-success text-white" type="submit">Approve</button>
                                                </form>
                                            </td>
                                            <td>
                                                <a class="btn btn-warning text-white" th:href="@{/exercises/edit/{id}(id=${forReview.id})}">Edit</a>
                                            </td>
                                            <td>
                                                <form th:action="@{/exercises/delete/{id}(id=${forReview.id})}" th:method="@{DELETE}">
                                                  <button class="btn btn-danger text-white" type="submit">Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><strong>Name</strong></td>
                                            <td><strong>Description</strong></td>
                                            <td><strong>Complexity</strong></td>
                                            <td><strong>&nbsp;</strong></td>
                                            <td><strong></strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-6 align-self-center">
                                    <p id="dataTable_info" class="dataTables_info" th:text="${shownElements}" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                                </div>
                                <div class="col-md-6">
                                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination">
                                            <li class="page-item"><a class="page-link" th:if="${pageNumber > 1}" aria-label="First" th:href="@{/exercises/for-review(pageNumber=${1}, sortDirection=${sortDirection}, pageSize=${pageSize})}"><span aria-hidden="true">«</span></a></li>
                                            <li class="page-item"><a class="page-link" th:if="${pageNumber > 1}" aria-label="Previous" th:href="@{/exercises/for-review(pageNumber=${pageNumber - 1}, sortDirection=${sortDirection}, pageSize=${pageSize})}"><span aria-hidden="true">‹</span></a></li>
                                            <li class="page-item"><a class="page-link" style="background-color: var(--bs-pagination-hover-bg);" th:text="${pageNumber}" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" th:if="${pageNumber < pagesCount}" aria-label="Next" th:href="@{/exercises/for-review(pageNumber=${pageNumber + 1}, sortDirection=${sortDirection}, pageSize=${pageSize})}"><span aria-hidden="true">›</span></a></li>
                                            <li class="page-item"><a class="page-link" th:if="${pageNumber < pagesCount}" aria-label="Last" th:href="@{/exercises/for-review(pageNumber=${pagesCount}, sortDirection=${sortDirection}, pageSize=${pageSize})}"><span aria-hidden="true">»</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <footer th:replace="~{fragments/footer :: footer}"></footer>

    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/actions.js"></script>
</body>

</html>