<!DOCTYPE html>
<html data-bs-theme="light" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile - Workout Tracker</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/bss-overrides.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar align-items-start p-0 sidebar sidebar-dark accordion bg-gradient-primary navbar-dark" style="background: var(--bs-dark);">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center m-0 sidebar-brand" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="mx-3 sidebar-brand-text"><span>Workout Tracker</span></div>
                </a>
                <hr class="my-0 sidebar-divider">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" th:href="@{/}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link active" th:href="@{/users/profile}"><i class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-expand bg-white shadow mb-4 topbar">
                    <div class="container-fluid">
                        <button class="btn btn-link d-md-none me-3 rounded-circle" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item mx-1 dropdown no-arrow">
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small">Valerie Luna</span><img class="border rounded-circle img-profile" src="assets/img/avatars/avatar1.jpeg"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                                        <a class="dropdown-item" href="#">
                                            <i class="fas fa-user me-2 fa-sm fa-fw text-gray-400"></i>&nbsp;Profile
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="fas fa-cogs me-2 fa-sm fa-fw text-gray-400"></i>&nbsp;Settings
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="fas fa-list me-2 fa-sm fa-fw text-gray-400"></i>&nbsp;Activity log
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">
                                            <i class="fas fa-sign-out-alt me-2 fa-sm fa-fw text-gray-400"></i>&nbsp;Logout
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Profile</h3>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <div class="card mb-3">
                                <div class="card-body text-center shadow"><img class="rounded-circle mt-4 mb-3" src="/img/dogs/image2.jpeg" width="160" height="160" alt="/img/dogs/image2.jpeg">
                                    <div class="mb-3">
                                        <button class="btn btn-primary btn-sm" type="button">Change Photo</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary m-0 fw-bold">Projects</h6>
                                </div>
                                <div class="card-body">
                                    <h4 class="small fw-bold">Workout progress<span class="float-end">20%</span></h4>
                                    <div class="progress mb-3 progress-sm">
                                        <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                                            <span class="visually-hidden">20%</span>
                                        </div>
                                    </div>
                                    <h4 class="small fw-bold">Weight target<span class="float-end">40%</span></h4>
                                    <div class="progress mb-3 progress-sm">
                                        <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                            <span class="visually-hidden">40%</span>
                                        </div>
                                    </div>
                                    <h4 class="small fw-bold">Completed workouts<span class="float-end">60%</span></h4>
                                    <div class="progress mb-3 progress-sm">
                                        <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                            <span class="visually-hidden">60%</span>
                                        </div>
                                    </div>
                                    <h4 class="small fw-bold">Weight lifted<span class="float-end">80%</span></h4>
                                    <div class="progress mb-3 progress-sm">
                                        <div class="progress-bar bg-info" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                            <span class="visually-hidden">80%</span>
                                        </div>
                                    </div>
                                    <h4 class="small fw-bold">Account setup<span class="float-end">Complete!</span></h4>
                                    <div class="progress mb-3 progress-sm">
                                        <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                            <span class="visually-hidden">100%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row mb-3 d-none">
                                <div class="col">
                                    <div class="card text-white bg-primary shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 m-0 small"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card text-white bg-success shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 m-0 small"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">Personal Information</p>
                                        </div>
                                        <div class="card-body">
                                            <form th:action="@{/users/profile-account-edit}" th:object="${profileAccountEdit}" method="post">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <p th:text="*{username}">Username</p>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <p th:text="*{email}">user@mail.com</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" th:unless="${#fields.hasErrors('firstName')}" for="first_name"><strong>First Name</strong></label>
                                                            <div th:each="error: ${#fields.errors('firstName')}">
                                                                <label class="form-label text-danger" th:text="${error}" for="first_name"><strong>First Name</strong></label>
                                                            </div>
                                                            <input class="form-control" type="text" id="first_name" th:field="*{firstName}" placeholder="First Name" name="first_name">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" th:unless="${#fields.hasErrors('lastName')}" for="last_name"><strong>Last Name</strong></label>
                                                            <div th:each="error: ${#fields.errors('lastName')}">
                                                                <label class="form-label text-danger" th:text="${error}" for="last_name"><strong>Last Name</strong></label>
                                                            </div>
                                                            <input class="form-control" type="text" id="last_name" th:field="*{lastName}" placeholder="Last Name" name="last_name">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card shadow">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">Training Information</p>
                                        </div>
                                        <div class="card-body">
                                            <form th:action="@{/users/profile-info-edit}" th:object="${profileInfoEdit}" method="post">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" th:unless="${#fields.hasErrors('weight')}" for="weight"><strong>Weight</strong></label>
                                                            <div th:each="error: ${#fields.errors('weight')}">
                                                                <label class="form-label text-danger" th:text="${error}" for="weight"></label>
                                                            </div>
                                                            <input class="form-control" type="number" id="weight" th:field="*{weight}" value="75" name="weight"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" th:unless="${#fields.hasErrors('height')}" for="height"><strong>Height</strong></label>
                                                            <div th:each="error: ${#fields.errors('height')}">
                                                                <label class="form-label text-danger" th:text="${error}" for="height"></label>
                                                            </div>
                                                            <input class="form-control" type="number" id="height" th:field="*{height}" value="170" name="height"></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" th:unless="${#fields.hasErrors('gym')}" for="gym"><strong>Gym</strong></label>
                                                            <div th:each="error: ${#fields.errors('gym')}">
                                                                <label class="form-label text-danger" th:text="${error}" for="gym"></label>
                                                            </div>
                                                            <input class="form-control" type="text" id="gym" th:field="*{gym}" placeholder="My Gym" name="gym">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" th:unless="${#fields.hasErrors('trainingStyle')}" for="training_style"><strong>Training Style</strong></label>
                                                            <div th:each="error: ${#fields.errors('trainingStyle')}">
                                                                <label class="form-label text-danger" th:text="${error}" for="training_style"></label>
                                                            </div>
                                                            <select class="form-select" id="training_style" th:field="*{trainingStyle}" name="training_style">
                                                                <option th:each="trainingStyleEnum : ${T(com.dimitarrradev.workoutScheduler.training.TrainingStyle).values()}"
                                                                        th:value="${trainingStyleEnum}" th:text="${trainingStyleEnum.getName()}"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Save&nbsp;Settings</button></div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card shadow mb-3">
                                        <div th:object="${passwordChange}" class="card-header py-3">
                                            <p th:unless="${#fields.hasErrors('oldPassword') || #fields.hasErrors('newPassword')}" class="text-primary m-0 fw-bold">Password Change</p>
                                            <div class="row">
                                                <div th:each="error: ${#fields.errors('oldPassword')}">
                                                    <label class="form-label text-danger" th:text="${error}" for="old_password"><strong>Last Name</strong></label>
                                                </div>
                                                <div th:if="${!#fields.hasErrors('oldPassword')}" th:each="error: ${#fields.errors('newPassword')}">
                                                    <label class="form-label text-danger" th:text="${error}" for="new_password"><strong>Last Name</strong></label>
                                                </div>
                                            </div>
                                            <div class="mb-3"><button class="btn btn-primary btn-sm" id="change_password_button" type="button">Change Password</button></div>
                                        </div>
                                        <div style="display: none;" id="password_change" class="card-body">
                                            <form th:action="@{/users/profile-password-change}" th:object="${passwordChange}" method="post">

                                                <div class="row" id="change_password_row">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="old_password"><strong>Old Password</strong></label>
                                                        <input class="form-control" type="password" id="old_password" th:field="*{oldPassword}" placeholder="**********" name="old_password">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label" for="new_password"><strong>New Password</strong></label>
                                                        <input class="form-control" type="password" id="new_password"  th:field="*{newPassword}" placeholder="**********" name="new_password">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label" for="confirm_password"><strong>Confirm Password</strong></label>
                                                        <input class="form-control" type="password" id="confirm_password"  th:field="*{confirmPassword}" placeholder="**********" name="confirm_password">
                                                    </div>
                                                </div>
                                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Workout Tracker 2025</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/actions.js"></script>
</body>

</html>