<!DOCTYPE html>
<html data-bs-theme="light" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register - Workout Tracker</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/bss-overrides.css">
</head>

<body class="bg-gradient-primary">
<div class="container">
    <div class="card shadow-lg my-5 o-hidden border-0">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-flex">
                    <div class="flex-grow-1 bg-register-image"
                         style="background-image: url(/img/dogs/image2.jpeg);"></div>
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">Create an Account!</h4>
                        </div>
                        <form class="user" th:action="@{/users/register}" th:object="${userRegister}"
                              th:method="@{post}">
                            <div class="mb-3">
                                <label class="text-danger" for="username" th:if="${#fields.hasErrors('username')}"
                                       th:text="${#fields.errors('username').getFirst()}">
                                </label>
                                <input class="form-control form-control-user" type="text" id="username"
                                       th:value="*{username}" placeholder="Username" name="username">
                            </div>
                            <div class="mb-3">
                                <label class="text-danger" for="email" th:if="${#fields.hasErrors('email')}"
                                       th:text="${#fields.errors('email').getFirst()}">
                                </label>
                                <input class="form-control form-control-user" type="email" id="email"
                                       aria-describedby="emailHelp" th:value="*{email}" placeholder="Email Address"
                                       name="email">
                            </div>
                            <div class="mb-3 row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label class="text-danger" for="password" th:if="${#fields.hasErrors('password')}"
                                           th:text="${#fields.errors('password').getFirst()}">
                                    </label>
                                    <input class="form-control form-control-user" type="password" id="password"
                                           th:value="*{password}" placeholder="Password" name="password">
                                </div>
                                <div class="col-sm-6">
                                    <label class="text-danger" for="confirmPassword" th:if="${#fields.hasErrors('confirmPassword')}"
                                           th:text="${#fields.errors('confirmPassword').getFirst()}">
                                    </label>
                                    <input class="form-control form-control-user" type="password" id="confirmPassword"
                                           th:value="*{confirmPassword}" placeholder="Confirm Password"
                                           name="confirmPassword">
                                </div>
                            </div>
                            <button class="btn btn-primary d-block w-100 btn-user" type="submit">Register Account
                            </button>
                            <!--                                <hr><a class="btn btn-primary d-block w-100 mb-2 btn-google btn-user" role="button"><i class="fab fa-google"></i>&nbsp; Register with Google</a><a class="btn btn-primary d-block w-100 btn-facebook btn-user" role="button"><i class="fab fa-facebook-f"></i>&nbsp; Register with Facebook</a>-->
                            <hr>
                        </form>
                        <!--                            <div class="text-center"><a class="small" href="forgot-password.html">Forgot Password?</a></div>-->
                        <div class="text-center"><a class="small" th:href="@{/users/login}">Already have an account?
                            Login!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/bs-init.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>