<!DOCTYPE html>
<html data-bs-theme="light" lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header (pageTitle = 'Schedule')}"></head>

<body id="page-top">
<div id="wrapper">
    <nav th:replace="~{fragments/navbar :: sideNavbar}"></nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav th:replace="~{fragments/navbar :: topNavbar}"></nav>
            <div class="container">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0">Schedules</h3>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-lg-6 mb-4">
                                <div id="daily_schedule" class="card text-white bg-primary shadow">
                                    <div class="card-body">
                                        <a class="stretched-link" style="text-decoration: none; color:white"
                                           th:href="@{/schedules/daily}">
                                            <p class="m-0">Daily Schedule</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-lg-6 mb-4">
                                <div id="weekly_schedule" class="card text-white bg-primary shadow">
                                    <div class="card-body">
                                        <a class="stretched-link" style="text-decoration: none; color:white"
                                           th:href="@{/schedules/weekly}">
                                            <p class="m-0">Weekly Schedule</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-lg-6 mb-4">
                                <div id="all_schedules" class="card text-white bg-primary shadow">
                                    <div class="card-body">
                                        <a class="stretched-link" style="text-decoration: none; color:white;"
                                           th:href="@{/schedules/all}">
                                            <p class="m-0">All Schedules</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-lg-6 mb-4">
                                <div id="add_schedule" class="card text-white bg-primary shadow">
                                    <div class="card-body">
                                        <a class="stretched-link" style="text-decoration: none; color:white;"
                                           th:href="@{/schedules/add}">
                                            <p class="m-0">Add Schedule</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>