<!DOCTYPE html>
<html data-bs-theme="light" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header (pageTitle = 'Today\'s schedule')}"></head>

<body id="page-top">
<div id="wrapper">
    <nav th:replace="~{fragments/navbar :: sideNavbar}"></nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav th:replace="~{fragments/navbar :: topNavbar}"></nav>
            <div class="container-fluid">
                <h3 class="text-dark mb-4" th:text="${#dates.createNowForTimeZone(#locale.getDefault())}">Schedule
                    Date</h3>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Workouts</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive mt-2 table" id="data_table" role="grid"
                             aria-describedby="dataTable_info">
                            <table class="table my-0" id="schedule_table">
                                <thead>
                                <tr>
                                    <th>Target</th>
                                    <th>Intensity</th>
                                    <th>Volume</th>
                                    <th>Time of Day</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="workout : ${dailySchedule.workouts()}">
                                    <td th:text="${workout.targetBodyParts}">Chest</td>
                                    <td th:text="${workout.intensity}">Low</td>
                                    <td th:text="${workout.volume}">Low</td>
                                    <td th:text="${workout.timeOfDay}">Morning</td>
                                    <td>
                                        <button class="btn btn-primary text-white" type="button">View</button>
                                    </td>
                                    <td>
                                        <form action="">
                                            <button class="btn btn-success text-white" type="submit">Mark Completed</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="">
                                            <button class="btn btn-danger text-white" type="submit">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 align-self-center">
                                <p id="dataTable_info" class="dataTables_info" role="status" th:text="${dailySchedule.workouts().size()} + ' workouts'" aria-live="polite"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>