<!DOCTYPE html>
<html data-bs-theme="light" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header (pageTitle = 'Edit Workout')}"></head>


<body id="page-top">
    <div id="wrapper">
        <nav th:replace="~{fragments/navbar :: sideNavbar}"></nav>

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav th:replace="~{fragments/navbar :: topNavbar}"></nav>
                <div class="container">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Workouts</h3>
                    </div>
                </div>
                <div class="row d-flex justify-content-center mb-2">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col col-xxl-12">
                                <div class="card shadow">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold">Add Workout</p>
                                    </div>
                                    <div class="card-body">
                                            </div>
                                            <div class="mb-3">
                                                <button class="btn btn-primary btn-sm" type="button" id="filter_workout_exercises" onclick="redirectAddWorkoutWithFilterForExercises()">Filter Exercises</button>
                                            </div>
                                        <form>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="exercises"><strong>Exercises</strong></label>
                                                        <select class="form-select" id="exercises" th:field="${exerciseTrainingSetsBindingModel.exerciseIdAndName}">
                                                                <option th:each="ex : ${exercises}" th:value='${ex}' th:text="${ex.name()}">Bench Press</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="sets"><strong>Sets</strong></label>
                                                        <input class="form-control" type="number" th:field="*{trainingSets.sets}" id="sets">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="min_reps"><strong>Min Reps</strong></label>
                                                        <input class="form-control" type="number" th:field="*{trainingSets.minReps}" id="min_reps">
                                                        <label class="form-label" for="max_reps"><strong>Max Reps</strong></label>
                                                        <input class="form-control" type="number" th:field="*{trainingSets.maxReps}" id="max_reps">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="rest"><strong>Rest</strong></label>
                                                        <input class="form-control" type="number" th:field="*{trainingSets.rest}" id="rest">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="weight"><strong>Weight</strong></label>
                                                        <input class="form-control" type="number" step=".25" th:field="*{trainingSets.weight}" id="weight">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col col-xxl-12">
                                                    <div class="mb-3">
                                                        <button class="btn btn-primary btn-sm" type="submit">Add Exercise</button>
                                                    </div>
                                                    <div class="mb-3"></div>
                                                </div>
                                            </div>
                                        </form>
                                            <div class="row">
                                                <div class="col col-xxl-12">
                                                    <div class="mb-3"></div>
                                                    <div class="table-responsive mt-2 table" id="dataTable-2" role="grid" aria-describedby="dataTable_info">
                                                        <table class="table my-0" id="dataTable">
                                                            <thead>
                                                                <tr >
                                                                    <th>Exercise</th>
                                                                    <th>Sets</th>
                                                                    <th>Rep-range</th>
                                                                    <th>Weight</th>
                                                                    <th>Rest</th>
                                                                    <th></th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr th:each="ex : ${workout.exerciseTrainingSets}">
                                                                    <td th:text="${ex.exerciseIdAndName}">Bench Press</td>
                                                                    <td th:text="${ex.trainingSets.size()}">4</td>
                                                                    <td th:text="${ex.trainingSets.getFirst().minReps() + ' - ' + ex.trainingSets().getFirst().maxReps()}">10</td>
                                                                    <td th:text="${ex.trainingSets.getFirst().weight()}">60</td>
                                                                    <td th:text="${ex.trainingSets.getFirst().rest()}">60</td>
                                                                    <td><button class="btn btn-primary" type="button">Edit</button></td>
                                                                    <td><button class="btn btn-danger" type="button">Delete</button></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary" type="submit">Create Workout</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="~{fragments/footer :: footer}"></footer>

        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/actions.js"></script>
</body>

</html>