<!DOCTYPE html>
<html data-bs-theme="light" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header (pageTitle = 'Create Workout')}"></head>


<body id="page-top">
    <div id="wrapper">
        <nav th:replace="~{fragments/navbar :: sideNavbar}"></nav>

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav th:replace="~{fragments/navbar :: topNavbar}"></nav>
                <div class="container">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Create Workout</h3>
                    </div>
                </div>
                <div class="row d-flex justify-content-center mb-2">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col col-xxl-12">
                                <div class="card shadow">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold">Create Workout</p>
                                    </div>
                                    <form th:replace="~{fragments/edit-create-workout-form :: workoutCreateEditForm (workout = ${workout})}"></form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="~{fragments/footer :: footer}"></footer>

        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/actions.js"></script>
</body>

</html>