<!DOCTYPE html>
<html data-bs-theme="light" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header (pageTitle = 'Edit Workout')}"></head>


<body id="page-top">
    <div id="wrapper">
        <nav th:replace="~{fragments/navbar :: sideNavbar}"></nav>

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav th:replace="~{fragments/navbar :: topNavbar}"></nav>
                <div class="container">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Workouts</h3>
                    </div>
                </div>
                <div class="row d-flex justify-content-center mb-2">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col col-xxl-12">
                                <div class="card shadow">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold" th:text="${'Edit Workout For ' + #temporals.format(workoutDate, 'dd-MM-yyyy HH:mm')}" id="workout_date">Edit Workout For Date</p>
                                    </div>
                                    <div class="card-body">
                                        <form th:action="@{/workouts/edit/{id}(id=${workoutId})}" th:object="${workout}" method="post">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" >
                                                                <strong class="text-danger" th:if="${#fields.hasErrors('workoutType')}" th:text="${#fields.errors('workoutType').getFirst()}">Type</strong>
                                                                <strong th:unless="${#fields.hasErrors('workoutType')}">Type</strong>
                                                            </label>
                                                            <div class="form-check">
                                                                <div id="select_complexity"
                                                                     th:each="type : ${T(com.dimitarrradev.workoutScheduler.workout.enums.WorkoutType).values()}">
                                                                    <input id="complexity" class="form-check-input"
                                                                           th:value="${type}" th:field="*{workoutType}"
                                                                           type="radio"/>
                                                                    <label class="form-check-label" for="complexity"
                                                                           th:text="${type.getName()}">Easy</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <label class="col-form-label">
                                                            <strong class="text-danger" th:if="${#fields.hasErrors('targetBodyParts')}" th:text="${#fields.errors('targetBodyParts').getFirst()}">Target</strong>
                                                            <strong th:unless="${#fields.hasErrors('targetBodyParts')}">Target</strong>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <div th:each="i : ${#numbers.sequence(0, targets.length / 2 - 1, 1)}" class="form-check">
                                                                <div id="select_target_1">
                                                                    <input id="target_1" class="form-check-input"
                                                                           th:value="${targets[i]}" th:field="*{targetBodyParts}"
                                                                           type="checkbox"/>
                                                                    <label class="form-check-label" for="target_1"
                                                                           th:text="${targets[i].getName()}">Easy</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <div th:each="i : ${#numbers.sequence(targets.length / 2, targets.length - 1, 1)}" class="form-check">
                                                                <div id="select_target_2">
                                                                    <input id="target_2" class="form-check-input"
                                                                           th:value="${targets[i]}" th:field="*{targetBodyParts}"
                                                                           type="checkbox"/>
                                                                    <label class="form-check-label" for="target_2"
                                                                           th:text="${targets[i].getName()}">Easy</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <button class="btn btn-primary btn-sm" type="submit">Save</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-xxl-12">
                                <div class="card shadow">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold">Add Exercise</p></div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col col-xxl-12">
                                                <form th:action="@{/workouts/edit/{id}/addExercise(id=${workoutId})}" th:object="${exerciseTrainingSetsBindingModel}" method="post">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="mb-3">
                                                                <label class="form-label" for="exercises">
                                                                    <strong th:unless="${#fields.hasErrors('exerciseId')}">Exercise</strong><span class="text-danger" th:if="*{exerciseId == null}">*</span>
                                                                    <strong th:if="${#fields.hasErrors('exerciseId')}" th:text="${#fields.errors('exerciseId').getFirst()}">Exercises</strong>
                                                                </label>
                                                                <select class="form-select" id="exercises" th:field="*{exerciseId}">
                                                                    <option selected th:value="${null}">Select exercise</option>
                                                                    <option th:each="ex : ${exercises}" th:value='${ex.id}' th:text="${ex.name()}">Bench Press</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="mb-3">
                                                                <label class="form-label" for="sets"><strong>Sets</strong><span class="text-danger" th:if="*{trainingSet.count == null}">*</span></label>
                                                                <input class="form-control" type="number" th:field="*{trainingSet.count}" id="sets" min="1" required>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="mb-3">
                                                                <label class="form-label">
                                                                    <strong class="text-danger" th:if="*{trainingSet.minReps > trainingSet.maxReps}">Min reps must be less or equal to Max reps</strong>
                                                                    <strong th:unless="*{trainingSet.minReps != null && trainingSet.maxReps != null && trainingSet.minReps > trainingSet.maxReps}">Reps</strong>
                                                                    <span class="text-danger" th:if="*{trainingSet.minReps == null || trainingSet.maxReps == null}">*</span>
                                                                </label>
                                                                <input class="form-control" type="number" th:field="*{trainingSet.minReps}" placeholder="Min reps" id="min_reps" min="1" required>
                                                                <input class="form-control" type="number" th:field="*{trainingSet.maxReps}" placeholder="Max reps" id="max_reps" min="1" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="mb-3">
                                                                <label class="form-label" for="rest"><strong>Rest</strong><span class="text-danger" th:if="*{trainingSet.rest == null}">*</span></label>
                                                                <input class="form-control" type="number" th:field="*{trainingSet.rest}" id="rest" min="1" required>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="mb-3">
                                                                <label class="form-label" for="weight"><strong>Weight</strong><span class="text-danger" th:if="*{trainingSet.weight == null}">*</span></label>
                                                                <input class="form-control" type="number" th:field="*{trainingSet.weight}" id="weight" step=".25" min="1" required >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col col-xxl-12">
                                                            <div class="mb-3">
                                                                <button class="btn btn-primary btn-sm" type="submit">Add Exercise</button>
                                                            </div>
                                                            <div class="mb-3"></div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col col-xxl-12">
                                        <div class="mb-3"></div>
                                             <div class="table-responsive mt-2 table" id="dataTable-2" role="grid" aria-describedby="dataTable_info">
                                                 <table class="table my-0" id="dataTable">
                                                     <thead>
                                                         <tr >
                                                             <th>Exercise</th>
                                                             <th>Sets</th>
                                                             <th>Rep-range</th>
                                                             <th>Weight</th>
                                                             <th>Rest</th>
                                                             <th></th>
                                                             <th></th>
                                                         </tr>
                                                     </thead>
                                                     <tbody>
                                                         <tr th:each="ex : ${workoutExercises}">
                                                             <td th:text="${ex.exerciseName}">Bench Press</td>
                                                             <td th:text="${ex.count}">4</td>
                                                             <td th:text="${ex.minReps + ' - ' + ex.maxReps}">10</td>
                                                             <td th:text="${ex.weight}">60</td>
                                                             <td th:text="${ex.rest}">60</td>
                                                             <td><a class="btn btn-primary" type="button">Edit</a></td>
                                                             <td>
                                                                 <form th:action="@{/workouts/edit/{workoutId}/deleteSet/{setId}(workoutId=${workoutId}, setId=${ex.id})}" th:method="@{DELETE}">
                                                                     <button class="btn btn-danger"  type="submit">Delete</button>
                                                                 </form>
                                                             </td>
                                                         </tr>
                                                     </tbody>
                                                 </table>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-sm" type="submit">Confirm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="~{fragments/footer :: footer}"></footer>

        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/actions.js"></script>
</body>

</html>